################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Harjoituksia/.vs/Harjoituksia/FileContentIndex/04fb69db-7402-491b-afb5-5000651be48f.vsidx
/Harjoituksia/.vs/Harjoituksia/FileContentIndex/0dce0cac-6897-4388-8fd1-7611e61bb5a8.vsidx
/.vs
